.deletBtn {
  background-color: rgb(229, 118, 26);
  border: none;
  cursor: pointer;

  align-items: center;
  margin: 10px;
}

.deletBtn:hover {
  color: red;
}

.contactItem {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

/* .contactsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

.contactIcon {
  margin-right: 10px;
}

.contactName {
  font-weight: bold;
  font-size: 16px;
}

.contactNumber {
  font-size: 14px;
  color: #666;
}
